.tooltip {
    position: relative;
    display: inline-block;
    opacity:1;
}

.tooltip .tooltiptext {
    visibility: hidden;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    padding: 5px 0;
    position:absolute;
    z-index: 1;
    top: 100%;
    left: 50%;

}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.cartitem:hover {
    font-weight: bold;
}


#main {
    width: 1900px;
    height: 800px;
    border: 1px solid #c3c3c3;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
}

#main div {
    width:auto;
}