<!--The content below is only a placeholder and can be replaced.-->
<spinner></spinner>
<div class="w3-center w3-jumbo w3-margin">Leave a Mark !</div>
<div class="w3-right">
        <a class="btn btn-success" [routerLink]="['/cart']" >
        <i class="fa fa-shopping-cart fa-large"></i> Checkout 
        <span class="w3-large" 
        style="font-family:cursive; color:yellow"> ({{selectionCount}})</span></a>
</div>
<ul>
    <li><a routerLink="">Products</a></li>
    <li><a [routerLink]="['/about', { id: '123' }]">About</a></li>
</ul>

<router-outlet></router-outlet>
