 
<div class="w3-container">    
    <div class="w3-half">
    <form> 
        <!-- form [ngFormOptions]="{updateOn: 'submit'}"-->
        Enter any word<br/>
        <input type="text" name="item" [(ngModel)]="searchKeyword"
        placeholder="Serch..." (keyup.enter)="search()"/>    
        <!-- [ngModelOptions]="{updateOn: 'blur'}"--> 
        <button class="w3-green" type="button" default (click)="search()">
        Add Goal!
        </button>         
    </form>
    </div>
    <div class="w3-half" [@items]="items.length">
        Here is your ({{items.length}}) goals!
        <div>
            <ul style="list-style-type:none">
            <li *ngFor="let item of items;let i=index" style="display: block" >
                <i class="w3-padding-2 w3-btn w3-hover-red fa fa-remove" (click)="removeItem(i)"></i>
                {{item}}
            </li>
            </ul>
        </div>
    </div>
    
</div>